[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "*"
matplotlib = "*"
pandas = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.13"
